<main class="collection-parent">
    <aside class="pokemon-details">
        <span *ngIf="selectedPokemon.id !== 0" style="padding:0px">
            <h2 style="color: white; margin-top: 70%;">{{selectedPokemon.name}}</h2>
            <img class="detail-sprite"src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{selectedPokemon.id}}.png">
            <p>Weight: {{selectedPokemon.weight}}lb</p>
            <p>Height: {{selectedPokemon.height}}cm</p>
        </span>
    </aside>
    <span *ngIf="pokeCollection.length > 0" class="pokemon-collection">
        <app-pokemon  (releaseAction)="handleRelease($event)" (pokemonAction)="handleClicked($event)" class="pokemon-component" *ngFor="let pokemon of pokeCollection" name="{{pokemon.name}}" sprite="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png"></app-pokemon>
    </span>
    <span *ngIf="pokeCollection.length === 0" class="pokemon-collection">
        <p>404 Pokemans not found</p>
    </span>
</main>