.collection-parent{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

.pokemon-collection{
    background-image: url("https://i.pinimg.com/564x/98/c1/5a/98c15a449a1166ec23f5c9f1f63995dd.jpg");
    margin-top: 15px;
    width: 1000px;
    min-height: 685px;
    max-height: fit-content;
    border-radius: 0px 25px 25px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;  
}

.pokemon-component{
    margin: 5px;
    flex: 1 0 21%;
    border-radius: 5px;
}

.pokemon-details{
    margin-top: 15px;
    text-align: center;
    height: 685px;
    width: 200px;
    border-radius: 25px 0px 0px 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: url("https://wallpapercave.com/wp/wp8813113.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.detail-sprite{
    width: 90%;
    background-color: aliceblue;
    border-radius: 0px 0px 0px 50px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin-top: 25%;
}
