.nav-button {
    height: 63px;
    width: 63px;
    margin-right: 25px;
    background-color: transparent;
    border: none;
    margin-top: 10px;
}

.pokeball-image {
    width: 70px;
    height: 70px;
}

.pokeball-image:hover {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow:
    inset 0 0 50px #fff,   
    inset 20px 0 80px #FF0000,  
    inset -20px 0 80px #FFDE00, 
    inset 20px 0 300px #FF0000,
    inset -20px 0 300px #FFDE00,
    0 0 50px #fff,          
    -10px 0 80px #FF0000,        
    10px 0 80px #FFDE00;         
}

.dropdown-menu:hover {
    background-color: #FFDE00;
}