<button mat-fab #trigger [matMenuTriggerFor]="menu" class="nav-button">
    <img class="pokeball-image" src="/assets/images/Pokeball.png">
</button>
<mat-menu #menu="matMenu" yPosition="below">
    <button (click)="navigateToPage('trainer')" class="dropdown-menu" mat-menu-item>Trainer-page</button>
    <button (click)="navigateToPage('catalogue')" mat-menu-item class="dropdown-menu">Catalogue</button>
    <button mat-menu-item (click)="logoutUser()" class="dropdown-menu">Log out</button>
</mat-menu>