.pokemonCard {
    position: relative;
    background-image: url("https://i.pinimg.com/564x/98/c1/5a/98c15a449a1166ec23f5c9f1f63995dd.jpg");
    border-radius: 10px;
    margin: 10px;
    width: 400px;
    height: 150px;
}


/* Image */
#pokeimg {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 30%;
}



/* #ID */
#poketitle {
    position: absolute;
    font-size: x-large;
    font-weight: 400;
    left: 40%;
    top: 23%
}



/* Catch Button */
button {
    position: absolute;
    bottom: 20%;
    left: 37%;
    width: 50%;
    height: 20%;
    background-color: rgb(204, 52, 52);
    border: 1px solid grey;
    color: white;
    font-size: large;
    border-radius: 20px;
}

button:hover {
    position: absolute;
    bottom: 20%;
    left: 37%;
    width: 50%;
    height: 20%;
    background-color: rgb(204, 52, 52);
    border: 0px solid grey;
    color: white;
    font-size: large;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 2px pink;        
}

button:active {
    position: absolute;
    bottom: 20%;
    left: 37%;
    width: 50%;
    height: 20%;
    background-color: rgb(204, 30, 30);
    border: 0px solid grey;
    color: white;
    font-size: large;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 3px pink;        
}




/* Pokeball (show if caught) */
#pokeball {

}

