<div class="pokemonCard">
    <img id="pokeimg" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{currentPokemon.id}}.png">
    <span id="poketitle"># {{currentPokemon.id}} {{currentPokemon.name}} </span>
    <img id="pokeball" *ngIf="currentPokemon.caught" src="../../../assets/img/poke-ball.png">
    <button (click)="onCatchClicked()">Catch</button>
</div>



