.pokemon{
    width: fit-content;
    max-width: 100px;
    padding: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pokemon-sprite{
    margin-left: auto;
    margin-right: auto;
}

.pokemon:hover{
    background-color: rgba(100, 100, 100, 0.05);
    border-radius: 25px;

}