.button {
    width: 160px;
    height: 50px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}