.nav-main-div {
    display: flex;
    background-color: #3B4CCA;
    height: 80px;
    top: 0;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}