<div class="loginform-div">
    <mat-spinner *ngIf="isLoading" diameter="80" color="#000"></mat-spinner>
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
        
        <div class="loginform-input-div">
            
            <label class="loginform-input-label">Username</label>
            <input type="text" ngModel #username="ngModel" name="username" id="username" class="loginform-input" placeholder="Name"/>
        </div>
        <div class="loginform-button">
            <app-button buttonText="Login"></app-button>
        </div>
    </form>
</div>