.loginform-div {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    align-items: center;
}

.loginform-input-div {
    display: flex;
    flex-direction: column;
}

.loginform-input-label {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.loginform-input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}

.loginform-button {
    height: fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}