/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

